.panel-body{
    color: black;
}

.btn-space{
    margin-right:1%;
}

.form-group{
background-color:antiquewhite;
border-bottom:1px solid #bfbfbf;
float: left;
}
    
.inner-form{
margin-top:2%;
margin-right:2%;
margin-bottom:2%;
}

.app-show-errors{
    position: absolute;
}

