<div class="container-fluid">
  <div class="location-page" id="location-page">

    <div class="panel-group">
      <div class="panel panel-default panel-size">
        <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left">Venue Details</h5>
          <h5 class="panel-title pull-right">{{details}}</h5>
        </div>

        <div class="panel-body">
          <form #newLocationForm="ngForm" (ngSubmit)="onLocationSubmit(newLocationForm)" class="ui form">

            <button type="button" class="btn btn-primary btn-md pull-right" [disabled]="!isPageSaved" (click)="onEdit()">Edit</button>
            <button type="submit" class="btn btn-primary btn-md btn-space pull-right" [disabled]="locationList.length==0 || isPageSaved">
              Save</button>
            <fieldset [disabled]="isPageSaved">

              <div class="form-group col-md-10">
                <label class="form-label" for="inputLocation"> Venue & Address:</label>
                <div class="input-group-with-errors">
                  <div class="input-group col-md-4">
                    <input list="locationlist" id="inputLocation" type="text" class="form-control input-md" [(ngModel)]="model.eventLocation"
                      name="eventLoc" placeholder="chalo chale kahi" #eventLoc="ngModel" pattern="^$|^[A-Za-z0-9 ]+" required [uniqueParam]="venueList"
                      appUniqueValidator style="text-transform:lowercase" />
                    <datalist id="locationlist" *ngFor="let locData of dbLocationList;">
                      <option>{{locData._eventLocation}}</option>
                    </datalist>
                  </div>
                  <div *ngIf="allowValidation">
                    <app-show-errors [control]="eventLoc"></app-show-errors>
                  </div>
                </div>

                <div class="input-group-with-errors">
                  <div class="input-group col-md-6">
                    <input type="text " id="inputAddress" class="form-control input-md " [(ngModel)]="model.eventAddress" name="eventAdd" #eventAdd="ngModel"
                      placeholder="Add Address" style="text-transform:lowercase" required/>
                    <div class="input-group-btn">
                      <button class="btn btn-primary btn-md " type="button" (click)="addNewLocation(newLocationForm)">Add Venue Details</button>
                    </div>
                  </div>
                  <div *ngIf="allowValidation">
                    <app-show-errors [control]="eventAdd"></app-show-errors>
                  </div>
                </div>


                <div class="col-md-8 loc-list-group">
                  <table class="table Location" *ngIf="locationList?.length ">
                    <thead>
                      <tr>
                        <th>Location</th>
                        <th>Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let loc of locationList; let ind=index ">
                        <td>{{loc._eventLocation}}</td>
                        <td>{{loc._eventAddress}}</td>
                        <td class="enable-remove-icon" *ngIf="!isPageSaved">
                          <a style="cursor: pointer" (click)="removeLocation(ind,newLocationForm)">Remove</a>
                        </td>
                        <td class="disable-remove-icon" *ngIf="isPageSaved">
                          <a style="cursor: pointer" (click)="removeLocation(ind,newLocationForm)">Remove</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>