<div class="container-fluid party-nav-bar" id="party-nav-bar">
      <div class="row main-header">
          <h4 class="col-md-10 header-text">
              Create Party
          </h4>
          <div class="col-md-2 header-button">
              <button type="button" class="btn btn-primary btn-md" (click)="submitPartyDetails()">Submit Details</button>
          </div>
      </div>
    <div class="btn-group" id="page-header">
      <button type="button" style="width:20%" class="btn btn-primary segmentedButton" (click)="visible=2">New Party</button>
      <button type="button" style="width:20%" class="btn btn-primary segmentedButton" (click)="visible=3">Food and Beverages</button>
      <button type="button" style="width:20%" class="btn btn-primary segmentedButton" (click)="visible=4">GuestList</button>
      <button type="button" style="width:20%" class="btn btn-primary segmentedButton" (click)="visible=5">Location</button>
      <button type="button" style="width:20%" class="btn btn-primary segmentedButton" (click)="visible=6">Budget</button>
    </div>

    <div *ngIf="visible === 2">
      <app-createparty-page></app-createparty-page>
    </div>
    <div *ngIf="visible === 3">
      <app-food-page></app-food-page>
    </div>

    <div *ngIf="visible === 5">
        <app-location-page></app-location-page>
      </div>

      <div *ngIf="visible === 6">
        <app-budget-page></app-budget-page>
      </div>
      
</div>