<div class="container-fluid createparty-page" id="createparty-page">

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left">New Party</h5>
      </div>

      <div class="panel-body">
        <form #neweventForm="ngForm" (ngSubmit)="onSubmit(neweventForm)">
          <button type="button" class="btn btn-primary btn-sm pull-right" (click)="showListPanel()">Back</button>
          <button type="submit" class="btn btn-primary btn-sm pull-right" [disabled]="!neweventForm.form.valid">
            Save & Continue</button>

          <div class="col-md-5 inner-form">
            <div class="col-md-5 inner-form-group">
              <input type="text" [(ngModel)]="eventName" placeholder="EventName please" name="eventName" required/>
            </div>
          <div class="col-md-5">
            <div class="col-md-5 inner-form-group">
              <textarea [(ngModel)]="eventsDesc" placeholder="description please" name="eventDesc" required>
                  </textarea>
            </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>