<div class="container-fluid">
    <div class="login-page" id="login-page">
        <div class="row">
            <div class="col-md-10" id="main-header">
                Welcome to Party Planner
            </div>
            <div class="col-md-2" id="options">
                <button type="button" class="btn btn-default" (click)="redirectToCreateParty()">Create New Party</button>
            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    All Parties
                </div>
                <perfect-scrollbar style="max-height: 600px;" [config]="config">
                <div class="panel-body" id="page-content">
                    <div class="list-group" *ngFor="let event of eventsData">
                        <div class="list-group-item list-group-item-info">
                            <a href="#" routerLink="eventDetails/{{event._eventId}}">
                                <h4 class="list-group-item-heading" id="event-name">{{event._eventName}}</h4>
                            </a>
                            <p class="list-group-item-text">{{event._eventDate | date:'MMM d, y @ h:mma - EEEE'}}</p>
                            <p class="list-group-item-text">{{event._eventDescription}}</p>
                            <div class="list-group-item-heading" id="page-icons">
                                <div class="list-group-icons">
                                    <a data-toggle="tooltip" title="To Mail" (click)="onEmailIcon(event._eventId)">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                    </a>
                                    <a data-toggle="tooltip" title="To edit" routerLink="updateEventCreation/{{event._eventId}}">
                                        <i class="glyphicon glyphicon-file"></i>
                                    </a>
                                    <a data-toggle="tooltip" title="To delete">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
            </div>
        </div>
    </div>
</div>
