<div class="container-fluid home-page">
    <div class="row">
        <div class="col-md-4">
            <div class="imgAbt">
                <img src="../../assets/images/home.jpg" width="400" height="400">
            </div>
        </div>
        <div class="col-md-8">
            <h3>Event Planning Made Easy on Party Planner</h3>
            <p>
                BestPartyEver.com developed a suite of free online party planning tools making your party planning tasks quick and easy.
                SAVE TIME and avoid problems by creating a guest-list, budget, event schedule, to-do lists and more. You
                can even send invitations by email, or print your own!</p>
            <p>
                BestPartyEver.com developed a suite of free online party planning tools making your party planning tasks quick and easy.
                SAVE TIME and avoid problems by creating a guest-list, budget, event schedule, to-do lists and more. You
                can even send invitations by email, or print your own!</p>
            <p>
            <p>
                BestPartyEver.com developed a suite of free online party planning tools making your party planning tasks quick and easy.
                SAVE TIME and avoid problems by creating a guest-list, budget, event schedule, to-do lists and more.
                You can even send invitations by email, or print your own!</p>
            <p>
            <div class="row home-page-buttons">
                <button type="button">Click Me!</button>
                <button type="button">Click Me!</button>
            </div>
        </div>
    </div>

</div>