<div class="container-fluid food-page" id="food-page">

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left">GuestList</h5>
      </div>

      <div class="panel-body">
        <form #GuestListForm="ngForm" (ngSubmit)="onSubmit(GuestListForm)">

          <button type="button" class="btn btn-primary btn-md pull-right" (click)="onEdit()" [disabled]="!isPageSaved">Edit</button>
          <button type="submit" class="btn btn-primary btn-md btn-space pull-right" [disabled]="guestList.length==0||isPageSaved">
            Save</button>
          <fieldset [disabled]="isPageSaved">

            <div class="form-group col-md-10">
              <label class="form-label" for="inputGuestList"> GuestEmailIds:</label>
              <div class="input-group-with-errors">
                <div class="input-group col-md-7">
                  <input list="GuestList" id="inputGuestList" type="email" class="form-control input-md" name="guestEmailId" [(ngModel)]="model.guestEmailId"
                    placeholder="Kis kis ko bulaye " #guestEmailId="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
                    [uniqueParam]="guestEmailIdsList" required appUniqueValidator style="text-transform:lowercase" />
                  <datalist id="GuestList" *ngFor="let guest of dbGuestList">
                    <option>{{guest}}</option>
                  </datalist>
                  <div class="input-group-btn">
                    <button class="btn btn-primary btn-md" type="button" (click)="addNewGuest(GuestListForm)">Add Guest</button>
                  </div>
                </div>
                <div *ngIf="allowValidation">
                  <app-show-errors [control]="guestEmailId"></app-show-errors>
                </div>
              </div>


              <div class="col-md-6 guest-list-group">
                <table class="table GuestEmailIds" *ngIf="guestList?.length">
                  <thead>
                    <tr>
                      <th>GuestList</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let guest of guestList; let ind=index">
                      <td>{{guest._guestEmailId}}</td>
                      <td class="enable-remove-icon" *ngIf="!isPageSaved">
                        <a style="cursor: pointer" (click)="removeGuest(ind,GuestListForm)">Remove</a>
                      </td>
                      <td class="disable-remove-icon" *ngIf="isPageSaved">
                        <a style="cursor: pointer" (click)="removeGuest(ind,GuestListForm)">Remove</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>