<div class="container-fluid budget-page" id="budget-page">

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left">Budget</h5>
      </div>

      <div class="panel-body">
        <form class="form-inline" #budgetForm="ngForm" (ngSubmit)="onSubmit(budgetForm)">

          <button type="button" class="btn btn-primary btn-md pull-right" (click)="onEdit()" [disabled]="!isPageSaved">Edit</button>
          <button id="btnSubmit" type="submit" class="btn btn-primary btn-md btn-space pull-right" [disabled]="expensesList.length==0 || isPageSaved">
            Save</button>
          <fieldset [disabled]="isPageSaved">

            <div class="main-form">
              <div class="form-group col-md-12">

                <div class="input-group col-md-5">
                  <label class="form-label" for="budgetCategory">Select Event Budget</label>
                  <select id="budgetCatgry" class="selectpicker form-control input-md" [ngModel]="category._budgetCategoryName" name="_budgetCategoryName"
                    (ngModelChange)="onSelectBudget($event)" required aria-placeholder="Select Budget">
                    <option [ngValue]="ctgy" *ngFor="let ctgy of ctgyList">{{ctgy._budgetCategoryName}}</option>
                  </select>
                  <div *ngIf="isLessthanZero">
                    <div class="alert-danger display-none" id="add-item-error">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      This should be positive
                    </div>
                  </div>
                </div>

                <div class="input-group col-md-2">
                  <label class="form-label" for="budgetAmount">Budget Amount</label>
                  <input id="budgetAmount" type="number" class="form-control input-md" [(ngModel)]="category._budgetCategoryAmount" name="_budgetCategoryAmount"
                    placeholder="Budget Amount" readonly/>
                </div>
              </div>
            </div>


            <div class="inner-form col-md-12">

              <div class="form-group">
                <label class="form-label" for="foodItem">Food Item</label>
                <select id="foodItem" class="form-control input-md" [(ngModel)]="expense._food" name="food" #food="ngModel" [uniqueParam]="expensesValidationList"
                  appUniqueValidator required>
                  Select food Item
                  <option [ngValue]="food" *ngFor="let food of foodItemsList">{{food}}</option>
                </select>
              </div>

              <div class="form-group">
                <label class="form-label" for="foodQuantity">Food Quantity</label>
                <input id="foodQuantity" type="number" min="1" class="form-control input-md" [ngClass]="{'red-border-class': quantity.errors}"
                  [(ngModel)]="expense._quantity" name="quantity" #quantity="ngModel" placeholder="Food Quantity" required
                />
              </div>

              <div class="form-group">
                <label class="form-label" for="foodExpense">Food Expense</label>
                <input id="foodExpense" type="number" min="1" class="form-control input-md" [(ngModel)]="expense._amount" name="amount" #amount="ngModel"
                  required />
              </div>

              <div class="form-group">
                <button class="btn btn-primary btn-md" type="button" (click)="addNewExpense()" [disabled]="budgetForm.invalid">Add Item</button>
              </div>
            </div>

            <div class="col-md-8 inner-list">
              <table class="table budgetExpense" *ngIf="expensesList?.length">
                <thead>
                  <tr>
                    <th>Food</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let exp of expensesList; let ind=index">
                    <td>{{exp._food}}</td>
                    <td>{{exp._quantity}}</td>
                    <td>{{exp._amount}}</td>
                    <td class="enable-remove-icon" *ngIf="!isPageSaved">
                      <a style="cursor: pointer" (click)="removeExpense(ind)">Remove</a>
                    </td>
                    <td class="disable-remove-icon" *ngIf="isPageSaved">
                      <a style="cursor: pointer" (click)="removeExpense(ind)">Remove</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="hidden-form" *ngIf="isPageSaved">
              <div class="form-group">
                <label class="main-label" for="totalExpense">Total Expense</label>
                <input type="number" class="form-control input-sm pull-right" [(ngModel)]="newBudget._totalExpense" name="totalExpense" readonly>
              </div>

              <div class="form-group">
                <label class="main-label" for="totalAmount"> Total Quantity :</label>
                <input type="number" class="form-control input-sm pull-right" [(ngModel)]="newBudget._totalQuantity" name="totalQuantity"
                  readonly />
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>