<div class="container-fluid food-page" id="food-page">
  <div class="panel-group">
    <div class="panel panel-default">

      <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left">Food Details</h5>
      </div>

      <div class="panel-body">
        <form #newFoodForm="ngForm" (ngSubmit)="onSubmit(newFoodItemsForm)">

          <button type="button" class="btn btn-primary btn-md pull-right" (click)="onEdit()" [disabled]="!isPageSaved">Edit</button>
          <button type="submit" class="btn btn-primary btn-md btn-space pull-right" [disabled]="foodList.length==0||isPageSaved">
            Save</button>
          <fieldset [disabled]="isPageSaved">

            <div class="form-group col-md-10">
              <label class="form-label" for="inputFoodItem"> Food Item:</label>
              <div class="input-group-with-errors">
                <div class="input-group col-md-7">
                  <input list="FoodList" id="inputFoodItem" type="text" class="form-control input-md" name="foodItem" [(ngModel)]="model.foodItem"
                    placeholder="Bataiye kya khayege" #foodItem="ngModel" pattern="[a-zA-Z ]*" style="text-transform:lowercase" [uniqueParam]="foodItemsList"
                    required appUniqueValidator/>
                  <datalist id="FoodList" *ngFor="let foodData of dbFoodList;">
                    <option>{{foodData._foodItem}}</option>
                  </datalist>
                  <div class="input-group-btn">
                    <button class="btn btn-primary btn-md" type="button" (click)="addNewFoodItem(newFoodForm)">Add Item</button>
                  </div>
                </div>
                <div *ngIf="allowValidation">
                  <app-show-errors [control]="foodItem"></app-show-errors>
                </div>
              </div>


              <div class="col-md-8 food-list-group">
                <table class="table foodItems" *ngIf="foodList?.length">
                  <thead>
                    <tr>
                      <th>Added Items</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let food of foodList; let ind=index">
                      <td>{{food._foodItem}}</td>
                      <td class="enable-remove-icon" *ngIf="!isPageSaved">
                        <a style="cursor: pointer" (click)="removeFoodItem(ind,newFoodForm)">Remove</a>
                      </td>
                      <td class="disable-remove-icon" *ngIf="isPageSaved">
                        <a style="cursor: pointer" (click)="removeFoodItem(ind,newFoodForm)">Remove</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>