<div class="container-fluid food-page" id="food-page">

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left">Food & Bevearages</h5>
      </div>

      <div class="panel-body">
        <form #newFoodItemsForm="ngForm" (ngSubmit)="submitFoodList(newFoodItemsForm)">

          <button type="button" class="btn btn-primary btn-sm pull-right" (click)="showListPanel()">Back</button>
          <button type="submit" class="btn btn-primary btn-sm pull-right" [disabled]="!newFoodItemsForm.form.valid">
            Save & Continue</button>

          <div class="col-md-8 inner-form" id="innerform">
            <div class="col-md-6 inner-form-group">
              <input type="text" class="form-control col-md-4" [(ngModel)]="foodItem" name="foodItem" placeholder="Item Name" required />
            </div>

            <div class="col-md-2 inner-form-group">
              <button class="btn btn-primary btn-md" type="button" (click)="addNewFoodItem()">Add Item</button>
            </div>

            <div class="col-md-6 inner-list">
              <div *ngIf="foodItemsList?.length" class="form-row tags-row">
                <div class="tag" *ngFor="let food of foodItemsList; let ind=index">
                  {{food.foodItem}}
                  <span class="tag-cross" (click)="removeFoodItem(ind)">X</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>