<div class="container-fluid food-page" id="food-page">

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left">Food & Bevearages</h5>
      </div>

      <div class="panel-body">
        <form #newFoodItemsForm="ngForm" (ngSubmit)="submitFoodList(newFoodItemsForm)">

          <button type="button" class="btn btn-primary btn-sm pull-right" (click)="editFoodList()">Edit</button>
          <button type="submit" class="btn btn-primary btn-sm pull-right" [disabled]="foodList.length==0">
            Save & Continue</button>

          <div class="col-md-8 inner-form" id="innerform">
            <div class="col-md-6 inner-form-group">
              <label class="form-label" for="foodItem">Food Item :</label>
              <input type="text" class="form-control input-sm" [(ngModel)]="foodItem" name="foodItem" placeholder="Item Name" required
              />
            </div>

            <div class="col-md-2 inner-form-button-group">
              <button class="btn btn-primary btn-md" type="button" (click)="addNewFoodItem()">Add Item</button>
            </div>

            <div class="col-md-8 inner-list">
              <table class="table foodItems" *ngIf="foodList?.length">
                  <thead>
                    <tr>
                      <th>FoodItems</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let food of foodList; let ind=index">
                        <td>{{food.foodItem}}</td>
                        <td>
                          <span class="tag-cross" (click)="removeFoodItem(ind)">X</span>
                        </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>