.panel-body{
    color: black;
}

.btn-space{
    margin-right:1%;
}

.form-group{
padding-top: 12px;
padding-bottom: 12px;
background-color:antiquewhite;
border-bottom:1px solid #bfbfbf;
}

.input-group-with-errors{
position: relative;
}

.food-list-group{
margin-bottom: 2%;
}

.disable-remove-icon{
     pointer-events:none;
}

